doctype html
html.scroll-smooth.antialiased(lang="en")
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#000000')
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    link(rel='stylesheet' href=require('./ticket.scss'))
    link(rel="shortcut icon" type="image/png" href=require(`/src/${env.event}/images/logo.png`))
    link(rel="icon" href=require(`/src/${env.event}/images/logo.png`))
    link(rel="shortcut icon" sizes="64x64" href=require(`/src/${env.event}/images/logo.png`))
    title Tax invoice
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Cabin:wght@400;700&family=Ubuntu+Mono:wght@400;700&display=swap' rel='stylesheet')
    script(src=require('./invoice.mjs') defer)
body#app.opacity-0.transition-all.duration-700.container.bg-gradient-to-b.from-slate-100.to-slate-300.flex.flex-col.items-center(class="print:bg-none min-h-screen min-w-[1024px]")

    .text-right.p-4(class="print:hidden w-[1024px]")
        button(onclick="window.print()" class="inline-block px-5 py-2 mx-auto text-white bg-slate-400 rounded-full hover:bg-slate-500") Print / Save as PDF

    .flex.flex-col.gap-10.bg-white.p-16(class="shadow-md w-[1024px] print:shadow-none")
        .flex.justify-between
            .space-y-4(class="w-3/4")
                h1.text-6xl.font-bold.tracking-tighter TAX INVOICE
                .inline-flex.gap-2
                    h2.text-2xl.font-bold.tracking-tighter \#{{invoice.no}}
                    span(v-if="invoice.status === 'unpaid'" class="print:hidden text-xs inline-flex items-center font-bold uppercase px-3 py-1 bg-amber-300 text-white rounded-full") Awaiting payment
                    span(v-if="invoice.status === 'cancelled'" class="print:hidden text-xs inline-flex items-center font-bold uppercase px-3 py-1 bg-red-500 text-white rounded-full") Cancelled
                    span(v-if="invoice.status === 'paid'" class="print:hidden text-xs inline-flex items-center font-bold uppercase px-3 py-1 bg-green-500 text-white rounded-full") Paid Successfully
                .text-slate-500
                    | {{dayjs(invoice.issued).format("Do MMMM YYYY")}}
                    br
                    strong Due on {{dayjs(invoice.issued).add(invoice.dueDays, 'days').format("Do MMMM YYYY")}}
            .text-right
                h3.font-bold BILLED TO
                .text-slate-500(v-if="invoice.billing.company")
                    | {{invoice.billing.company.name}}
                    br
                    | VAT no: {{invoice.billing.company.vat}}
                    br
                    | {{invoice.billing.company.address}}
                .text-slate-500(v-else)
                    | {{invoice.billing.name}}
                    br
                    | {{invoice.billing.country}}
        table.text-sm.text-left.text-slate-500
            thead.text-xs.text-slate-900.uppercase
                tr
                    th.px-3.py-4(class="w-[50px]") #
                    th.px-3.py-4 Description
                    th.px-3.py-4.text-right(class="w-[150px]") Price {{invoice.billing.currency}}
            tbody
                tr.bg-white(v-for="(item, index) in invoice.orders")
                    td.px-3.py-1.text-teal-500.align-top  \#{{index + 1}}
                    td.px-3.py-1
                        | {{item.product.title}}, {{dayjs(item.product.date).format("Do MMM YYYY")}}
                        br
                        span.text-xs.text-slate-400 {{item.name}}
                    td.px-3.py-1.text-right.align-top {{item.product.price}} {{invoice.billing.currency}}
            tfoot.tracking-tight.font-bold
                tr.border-t-2.border-teal-500
                    td.px-3.pt-4 &nbsp;
                    td.px-3.pt-4.text-right.text-slate-900.font-bold SUBTOTAL
                    td.px-3.pt-4.text-right {{invoice.subtotal}} {{invoice.billing.currency}}
                tr
                    td.px-3.py-1 &nbsp;
                    td.px-3.py-1.text-right.text-slate-900.font-bold VAT 0%
                    td.px-3.py-1.text-right {{invoice.vat}} {{invoice.billing.currency}}
                tr
                    td.px-3.py-1 &nbsp;
                    td.px-3.py-1.text-right.text-slate-900.font-bold TOTAL
                    td.px-3.py-1.text-right {{invoice.total}} {{invoice.billing.currency}}
                tr(v-if="showAed")
                    td.px-3.py-1 &nbsp;
                    td.px-3.py-1.text-right.text-slate-900.font-bold EXCHANGE RATE
                    td.px-3.py-1.text-right {{invoice.exchangeRate}}
                tr(v-if="showAed")
                    td.px-3.py-1 &nbsp;
                    td.px-3.py-1.text-right.text-slate-900.font-bold SUBTOTAL
                    td.px-3.py-1.text-right {{invoice.subtotalAed}} AED
                tr(v-if="showAed")
                    td.px-3.py-1 &nbsp;
                    td.px-3.py-1.text-right.text-slate-900.font-bold VAT 0%
                    td.px-3.py-1.text-right {{invoice.vatAed}} AED
                tr(v-if="showAed")
                    td.px-3.py-1 &nbsp;
                    td.px-3.py-1.text-right.text-slate-900.font-bold TOTAL
                    td.px-3.py-1.text-right {{invoice.totalAed}} AED


        .flex.gap-24.mt-12
            .xxx
                h3.font-bold ISSUED BY
                p.text-slate-500
                    | DevPlatforms FZ-LLC
                    br
                    | Business license: 47008316
                    br
                    | Address: RAKEZ Compass Coworking,
                    br
                    | Al Shohada Road, Al Hamra Industrial Zone,
                    br
                    | Ras Al Khaimah, United Arab Emirates
                br
            .xxx
                h3.font-bold BANK TRANSFER DETAILS
                p.text-slate-500
                    | RAKBANK
                    br
                    | IBAN: -----
                    br
                    | SWIFT: NRAKAEAK
                    br
                    | PAYMENT DESCRIPTION: {{invoice.no}}


        .xxx
            h3.font-bold.flex.gap-1
                svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' d='M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10')
                | NOTES
            p.text-slate-500
                span(v-if="invoice.billing.company?.po")
                    | PO number: {{invoice.billing.company.po}}.
                    br
                | VAT is taxable at zero rate because services are exported outside the GCC.
        .xxx
            h3.font-bold.flex.gap-1
                svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' d='M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z')
                | PAY WITH VISA/MASTERCARD/AMEX
            p.text-slate-500
                a(:href="checkoutLink()" class="text-teal-500 hover:text-teal-600") {{checkoutLink()}}





