- var site = `${event.name} ${event.year}`
- var title = `${event.name} ${event.year} – ${event.nameHint}`
- var speakersToBeAnnounced = 0;
  each timeslot in event.schedule
    each speaker in timeslot.talks
      unless speaker
        - speakersToBeAnnounced++
doctype html

mixin stars
  svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fec42d" class="w-6 h-6")
    path(stroke-linecap="round" fill="#fec42d" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z")
  svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fec42d" class="w-6 h-6")
    path(stroke-linecap="round" fill="#fec42d" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z")
  svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fec42d" class="w-6 h-6")
    path(stroke-linecap="round" fill="#fec42d" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z")
  svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fec42d" class="w-6 h-6")
    path(stroke-linecap="round" fill="#fec42d" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z")
  svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fec42d" class="w-6 h-6")
    path(stroke-linecap="round" fill="#fec42d" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z")
mixin excellent
  .excellent.fixed.top-6.right-6.text-center
    p.italic(class="text-xl tracking-wider") “Excellent!”
    .flex
      +stars
mixin modal(id, markdown)
  .modal.fixed.h-screen.w-screen.z-20.top-0.left-0.hidden.overflow-scroll(id=id role="dialog" aria-modal="true" class="bg-black bg-gradient-to-r from-black to-slate-900")
    .container.py-16
      .space-y-8.text-slate-300(class="2xl:w-3/4 [&>p]:leading-normal [&>ul]:list-disc [&>ul]:list-inside [&>li]:marker:text-lime-950 md:text-xl xl:text-2xl [&_h1]:font-mono [&_h1]:font-bold [&_h1]:text-white [&_h1]:text-2xl [&_h1]:md:text-5xl [&_h1]:before:content-['>'] [&>h1]:before:mr-2 [&>h1]:before:text-lime-950") !{marked(markdown)}
    button.close.absolute.top-4.right-4.text-slate-300.bg-transparent.rounded-full(type='button' class='hover:text-white p-1.5' tabindex="-1")
      svg.w-8.h-8(aria-hidden='true' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd' d='M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z' clip-rule='evenodd')
      span.sr-only Close modal
mixin timezoneToggle
  .timeZoneToggle.top-0.left-0.z-10.transition-opacity.w-full.text-slate-500.pt-4
    label.inline-flex.items-center.cursor-pointer.relative
      input.sr-only.peer(type='checkbox' value='')
      .w-9.h-5.rounded-full.peer.ring-2.ring-lime-950(class="duration-300 peer-checked:bg-slate-700 peer-focus:ring-4 peer-checked:after:translate-x-full after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-slate-300 after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all")
      span.ml-3.text-sm.info

html.scroll-smooth(lang="en" class="bg-black bg-gradient-to-b from-black to-slate-800")
  head
    meta(charset='utf-8')
    meta(name='theme-color' content='#000000')
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    title=title
    meta(name='description' content=event.description)
    meta(property='og:description' content=event.description)
    meta(property='og:title' content=title)
    meta(property='og:site_name' content=site)
    meta(property='og:type' content='website')
    meta(property='og:locale' content='en_US')
    meta(property='og:url' content=event.website)
    meta(property='og:image' content=event.website + '/' + require(`/src/${env.event}/images/og-image.png`))
    meta(name='twitter:title' content=title)
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:site' content=site)
    link(rel='canonical' href=event.website)
    link(rel="shortcut icon" type="image/png" href=require(`/src/${env.event}/images/logo.png`))
    link(rel="icon" href=require(`/src/${env.event}/images/logo.png`))
    link(rel="shortcut icon" sizes="64x64" href=require(`/src/${env.event}/images/logo.png`))
    script(type='application/ld+json')
      | {
      |   "@context": "http://schema.org",
      |   "@type": "Organization",
      |   "name": "#{event.name}",
      |   "url": "#{event.website}"
      | }
    script(type='application/ld+json').
      {
        "@context": "http://schema.org",
        "@type": "EducationEvent",
        "name": "#{title}",
        "image": "#{event.website}/images/logo.png",
        "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
        "eventStatus": "https://schema.org/EventScheduled",
        "description": "#{event.description}",
        "startDate": "#{event.date}T09:00",
        "endDate": "#{event.date}T18:00",
        "offers": {
          "@type": "Offer",
          "availability": "http://schema.org/InStock",
          "price": "399",
          "validFrom": "2018-01-01T01:01:01.001Z",
          "url": "#{event.website}",
          "priceCurrency": "EUR"
        },
        "performer": {
          "@type": "Organization",
          "name": "#{event.name}",
          "sameAs": "#{event.website}"
        }
      }
    meta(name='viewport' content='width=device-width')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Ubuntu+Mono:wght@400;700&display=swap' rel='stylesheet')
    link(rel="stylesheet" href=require('./main.scss'))
    script(src=require('./main.mjs') defer)
    script(src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon=`{"token": "${event.cfAnalytics}"}` defer)
  body.text-white.antialiased
    section.later.opacity-0(class="lg:gap-14 h-screen overflow-hidden relative")
      video(autoplay loop playsinline muted class="absolute block top-0 right-0 min-h-full min-w-full max-w-none -z-10 opacity-40")
        source(src="video.mp4" type="video/mp4")
      +excellent
      .container.flex.flex-col.gap-10.items-center.justify-center.h-full
        h1(class="tracking-tight text-center text-6xl lg:text-9xl ") #{event.name} #{event.year}.
        h2(class="text-center text-lg md:text-2xl lg:text-3xl ") #{event.slogan}.
        h3.text-slate-300(class="lg:text-2xl")
          span #{dayjs(event.date).format("D")}-#{dayjs(event.masterclasses.date).format("D MMMM YYYY")}. Online.
        a.flex.text-xl.py-3.justify-center.uppercase.border.border-slate-300.font-bold.font-mono.text-neutral-200.rounded-lg.transition-all.duration-300(class='w-[350px] hover:text-white hover:border-red-600' href='#Tickets') Sold out
        - var monthsUntilConference = dayjs(event.date).diff(dayjs(), 'days')
        if monthsUntilConference <= 90
          h4#countdown.text-center.font-mono.text-slate-300(class="" data-nothing='The conference is happening now.' data-prefix='We start in ' data-date-iso=`${event.date}T09:00Z`)
    section.text-center.container.flex.items-center.text-slate-300(class="lg:w-3/5 mb-[50vh] mt-[20vh]")
      .flex.flex-col.gap-10(class="text-normal md:text-2xl")
        | !{marked(event.about)}
        .flex.text-center.justify-center
          +stars
    section#Speakers.container.space-y-4.pb-40
      h1.text-6xl(class="md:text-8xl") Speakers
      h2.text-2xl(class="md:text-5xl") #{dayjs(event.date).format("dddd, Do MMMM")}
      h3.text-lg.text-slate-500(class="md:text-2xl") No Agile nonsense and marketing talks permitted. See for yourself:
    section.container(class="mb-[20vh]")
      .flex.flex-wrap.text-center.gap-x-10.gap-y-24
        each speaker, index in event.keynotes
          .basis-80.flex.flex-col.items-center.gap-1
            img.rounded-full.h-28.w-28(alt=speaker.name data-speaker=speaker.name src=require(`images/speakers/${speaker.img}`))
            h3.text-2xl.font-mono(data-ite='5' class="before:content-['>'] before:mr-2 before:text-lime-950")=speaker.name
            p.font-mono.text-xl.text-slate-500(data-ite='5')=speaker.bio
      if speakersToBeAnnounced
        p.text-slate-500.mt-20.text-center More speakers TBA.
    section.container.grid.grid-cols-3.gap-x-4(class="lg:gap-x-24 mb-[10vh]")
      each track in [1,2,3]
        .text-2xl.text-slate-300.text-center(class="lg:text-5xl")
          .inline-flex.justify-center.items-center.w-8.h-8.font-bold.text-black.bg-lime-950.rounded-full(class="lg:w-12 lg:h-12") #{track}
          |  Track
    section.container.flex.text-center(class="mb-[10vh]")
      +timezoneToggle
    section.container.grid.grid-cols-3.gap-x-4.gap-y-14(class="lg:gap-y-32 lg:gap-x-24 mb-[25vh]")
      - var index = 0;
      each timeslot in event.schedule
        each speaker in timeslot.talks
          - var talk = event.keynotes.find(({name}) => name == speaker)
          - index++
          if talk
            +modal(`keynote-${index}`, talk.description)
            .talk.flex.flex-col.gap-3.items-center.text-center
              time.font-mono.text-slate-500.text-xs(data-keynote-title=talk.title data-keynote-instructor=speaker class="lg:text-base [&>br]:block [&>br]:md:hidden" data-date-from=event.date + 'T' + timeslot.from + ':00Z' data-date-to=event.date + 'T' + timeslot.to + ':00Z') #{timeslot.from} - #{timeslot.to} GMT
              a.font-mono.font-bold.text-xs(href="javascript:void(0)" data-modal=`#keynote-${index}` class="lg:text-2xl before:content-['>'] before:mr-1 before:md:mr-2 before:text-lime-950") #{talk.title}
              .speaker.inline-flex.gap-2.items-center.text-left
                img.rounded-full.h-4.w-4(class="lg:h-8 lg:w-8" alt=speaker src=require(`images/speakers/${talk.img}`))
                span.font-mono.text-slate-500.text-xs(class="lg:text-xl") #{speaker}
          else
            .talk.flex.flex-col.gap-3.items-center.text-center
              time.font-mono.text-slate-500.text-xs(class="lg:text-base [&>br]:block [&>br]:md:hidden" data-date-from=event.date + 'T' + timeslot.from + ':00Z' data-date-to=event.date + 'T' + timeslot.to + ':00Z') #{timeslot.from} - #{timeslot.to} GMT
              span.font-mono.font-bold.text-xs(class="lg:text-2xl before:content-['>'] before:mr-1 before:md:mr-2 before:text-lime-950") TBA
    section#Masterclasses.container.space-y-4.pb-40(class="mt-[25vh]")
      h1.text-6xl(class="md:text-8xl") Masterclasses
      h2.text-2xl(class="md:text-5xl") #{dayjs(event.masterclasses.date).format("dddd, Do MMMM")}
      h3.text-lg.text-slate-500(class="md:text-2xl") Our instructors will deliver full-day masterclasses. Choose one that you like the most:
      +timezoneToggle
    section.container.grid.gap-y-32(class="mb-[50vh]")
      each masterclass, index in event.masterclasses.items
        +modal(`masterclass-${index + 1}`, masterclass.brief_description)
        .flex.flex-col.gap-4(class=(masterclass.sold_out ? 'opacity-50' : '' ) id=slugify(masterclass.title, {separator: '_'}))
          .font-bold.font-mono.text-2xl(class="sm:text-4xl")
            a.align-middle.cursor-pointer(href="javascript:void(0)" data-modal=`#masterclass-${index + 1}`)
              span.text-lime-950 \##{index + 1}
              |  #{masterclass.title}
              if masterclass.sold_out
                span.align-middle.text-red-600.font-sans.text-sm.ml-4.whitespace-nowrap SOLD OUT
              if masterclass.almost_sold_out
                span.align-middle.text-red-600.font-sans.text-sm.ml-4.whitespace-nowrap FEW TICKETS LEFT
          .speaker.inline-flex.gap-2.items-center
            img.rounded-full.h-6.w-6(class="sm:h-8 sm:w-8" alt=masterclass.instructor.name src=require(`images/speakers/${masterclass.instructor.img}`))
            span.font-mono.text-slate-500.text-lg(class="sm:text-2xl") #{masterclass.instructor.name}
            time.font-mono.text-slate-500.ml-8.text-sm(class="sm:text-lg [&>br]:hidden" data-masterclass-title=masterclass.title data-masterclass-instructor=masterclass.instructor.name data-date-from=event.masterclasses.date + 'T' + masterclass.from + ':00Z' data-date-to=event.masterclasses.date + 'T' + masterclass.to + ':00Z') #{masterclass.from} - #{masterclass.to} GMT
    section.container.space-y-4.mt-40.pb-40#Tickets
      h1.text-6xl(class="md:text-8xl") Tickets
      h2.text-2xl(class="md:text-5xl") Number of tickets is limited.
      h3.text-lg.text-slate-500(class="md:text-2xl") The price will increase as the conference approaches. Grab your ticket today.
    section.container.flex.justify-center(class="mb-[10vh]")
      - var defaultCurrency = 'EUR'
      - var currencySymbols = {EUR: '€', USD: '$', GBP: '£' }
      .currencyToggle.inline-flex.rounded-full.text-slate-300
        each currency in Object.keys(event.prices)
          label(for=currency)
            input.sr-only.peer(id=currency type="radio" name="currency" checked=(currency==defaultCurrency) value=currency)
            div(class="hover:bg-slate-800 cursor-pointer mr-1 transition-all block px-4 py-1 rounded-full peer-checked:bg-slate-700 peer-focus:text-white peer-focus:bg-slate-700" ) #{currency}
    each price, currency in event.prices
      - var registrationLink = `/registration.html?currency=${currency}`
      section.container.grid.grid-cols-1.justify-center.gap-y-32(data-pricing=currency class="2xl:grid-cols-3" class=(currency!==defaultCurrency ? 'hidden' : '' ))
        .flex.flex-col.gap-y-7.items-center.text-center(class=`2xl:w-11/12 [&>h1]:last:font-bold [&>h1]:last:before:content-['>'] [&>h1]:last:before:mr-2 [&>h1]:last:before:text-lime-950`)
          h1.text-2xl.font-mono(class="lg:text-4xl") Main Day Only
          h3.text-6xl
            span=currencySymbols[currency]
            if event.priceHint
              span.mr-4(class="after:content-['*'] after:text-slate-300")=price
            else
              span.mr-4=price
            span.line-through.text-slate-300=price+200
          .rounded-full.bg-slate-500(class="h-2.5 w-3/4")
            .bg-red-600.rounded-full.h-full(class=`w-[100%]`)
          a.inline-block.relative.text-3xl.w-fit.text-slate-500.duration-300(href="" class="hover:text-white" data-registration) SOLD OUT
        .flex.flex-col.gap-y-7.items-center.text-center(class=`2xl:w-11/12 [&>h1]:last:font-bold [&>h1]:last:before:content-['>'] [&>h1]:last:before:mr-2 [&>h1]:last:before:text-lime-950`)
          h1.text-2xl.font-mono(class="lg:text-4xl") Masterclass Only
          h3.text-6xl
            span=currencySymbols[currency]
            if event.priceHint
              span.mr-4(class="after:content-['*'] after:text-slate-300")=price
            else
              span.mr-4=price
            span.line-through.text-slate-300=price+200
          .rounded-full.bg-slate-500(class="h-2.5 w-3/4")
            .bg-red-600.rounded-full.h-full(class=`w-[100%]`)
          a.inline-block.relative.text-3xl.w-fit.text-slate-500.duration-300(href="" class="hover:text-white" data-registration) SOLD OUT
        .flex.flex-col.gap-y-7.items-center.text-center(class=`2xl:w-11/12 [&>h1]:last:font-bold [&>h1]:last:before:content-['>'] [&>h1]:last:before:mr-2 [&>h1]:last:before:text-lime-950`)
          h1.text-2xl.font-mono(class="lg:text-4xl") Main Day + Masterclass
          h3.text-6xl
            span=currencySymbols[currency]
            if event.priceHint
              span.mr-4(class="after:content-['*'] after:text-slate-300")=price*2
            else
              span.mr-4=price*2
            span.line-through.text-slate-300=price*2+400
          .rounded-full.bg-slate-500(class="h-2.5 w-3/4")
            .bg-red-600.rounded-full.h-full(class=`w-[100%]`)
          a.inline-block.relative.text-3xl.w-fit.text-slate-500.duration-300(href="" class="hover:text-white" data-registration) SOLD OUT
    section.container.text-center(class="mt-[10vh] mb-[40vh]")
      if event.priceHint
        p.text-slate-600 * #{event.priceHint}
    section.container#Partners
      h1.w-full.mb-4.text-center.text-base.font-semibold.uppercase.text-gray-400.tracking-wider
        | Our friends
      .max-w-7xl.mx-auto.flex.flex-wrap.justify-around.items-center.gap-12.py-12.px-4
        each partner in event.partners
          a(class='text-gray-400 hover:text-gray-200' target='_blank' href=partner.link rel=partner.follow ? "" : "noopener noreferrer nofollow")
            img(src=require(`./images/sponsors/${partner.title.toLowerCase()}.svg`) alt=partner.title class="w-[140px] h-auto max-h-12 fill-current")



    footer#FAQ(class="mt-[40vh]")
      section.container.space-y-4
        h1.text-6xl(class="md:text-8xl") FAQ
        h2.text-2xl(class="md:text-5xl") Frequently Asked Questions

      section.container.mt-40.flex.flex-col.gap-y-10
        each faq, index in event.faq
          div.space-y-8(id=index + 1)
            h4.text-lg.font-mono.font-bold(class="md:text-2xl")
              span.text-lime-950 \##{index + 1}
              |  #{faq.q}
            .text-slate-300(class="md:text-xl space-y-8 [&_a]:text-slate-500 [&_a]:duration-300 hover:[&_a]:text-white [&>p]:leading-normal [&_li]:mb-8 [&>ol]:list-decimal [&>ol]:list-inside xl:w-2/3") !{marked(faq.a)}
        .text-center(class="mb-[5vh] mt-[5vh]")
          a.inline-block.text-xl.w-fit.text-slate-500.duration-300(href="#Tickets" class="hover:text-white") ^ Back to tickets
